.basic-form {
  display: flex;
  justify-content: center;

  mat-card {
    width: 40%;

    h3 {
      text-align: center;
    }

    form {
      mat-form-field {
        width: 100%;
        margin-bottom: 1rem;
      }

      button {
        display: block;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    &.small {
      width: 100%;
    }
  }
}
